In [1]:
import pandas as pd

In [3]:
#input_df = pd.read_csv('~/downloads/Zillow_Home_Values_By_Zip.csv')
input_df = pd.read_csv('~/downloads/ACSST1Y2021.S0802-2023-03-13T160952.csv')
input_df.head()

,Label (Grouping),United States!!Total!!Estimate,United States!!Total!!Margin of Error,"United States!!Car, truck, or van -- drove alone!!Estimate","United States!!Car, truck, or van -- drove alone!!Margin of Error","United States!!Car, truck, or van -- carpooled!!Estimate","United States!!Car, truck, or van -- carpooled!!Margin of Error",United States!!Public transportation (excluding taxicab)!!Estimate,United States!!Public transportation (excluding taxicab)!!Margin of Error
0,Workers 16 years and over,"154,314,179","±151,398","104,650,121","±137,202","12,018,354","±70,749","3,793,329","±36,923"
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16 to 19 years,3.8%,±0.1,3.6%,±0.1,7.9%,±0.1,3.0%,±0.2
3,20 to 24 years,9.1%,±0.1,9.3%,±0.1,12.3%,±0.2,10.6%,±0.3
4,25 to 44 years,44.0%,±0.1,43.0%,±0.1,44.6%,±0.3,46.7%,±0.5